@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
  .title{
    color: #7371FC;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  }
  .window-info{
    background-color: #000000;
  }
  .btn{
    
      background-color: #A594F9; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    
    
  }
  .init{
    
   
  
    margin-bottom: 15px;

  }
  h1{
    font-family: 'Roboto Mono', monospace;
  }
  .favorite{
  margin-top:5rem;
  align-content: center;
  margin-left: 10rem;
  }